<div>
    <h1>{{user.first}} {{user.last}}'s Orders</h1>

    <div>
        <a href="/users/{{user._id}}/orders/new">Create a New Order</a>
    </div>

    <div>
        <a href="/users">Back to Users</a>
    </div>
    
    {{#each user.orders}}
        <div>
            {{this.name}} - {{this.pickup}}
            <a href="/users/{{../user._id}}/orders/{{this._id}}">View</a>
        </div>
    {{/each}}
</div>