<div>
    <h1>{{order.name}}</h1>

 

    
</div>
<table class="mainUserTable">
    <tr>
       <th>Size</th>
       <th>First Topping</th>
       <th>Second Topping</th>
       <th>Third Topping</th>
    </tr>
 {{#each pizzas}}
        
        <tr>
              <td>{{this.pizzasize}}</td>
              <td>{{this.toppingOne}}</td>
              <td>{{this.toppingTwo}}</td>
              <td>{{this.toppingThree}}</td>
        </tr>

    {{/each}}
    <tr>
        <td><form action="/users/{{userId}}/orders/{{order._id}}/edit"><input type="submit" value="Edit Order" /></form></td>
        <td><form action="/users/{{userId}}/orders/{{order._id}}/delete"><input type="submit" value="Delete Order" /></form></td>
        <td><form action="/users/{{userId}}/orders/{{order._id}}/pizza/new"><input type="submit" value="Add A Pizza" /></form></td>
    </tr>
</table>
