<div>
    {{order.name}} - {{order.pickup}} - {{order.pizza}}
    <a href="/users/{{userId}}/orders/{{order._id}}/edit">Edit</a>
    <a href="/users/{{cuserId}}/orders/{{order._id}}/delete">Delete</a>
    <a href="#">Reorder</a>
</div>