<table class="EditUser">
<form action="/users/{{user._id}}?_method=PUT" method="POST">
    <tr>
        <td><label for="first">First Name</label></td>
        <td><input type="text" name="first" value="{{user.first}}"></td>
    </tr>
    <tr>
        <td><label for="last">Last Name</label></td>
        <td><input type="text" name="last" value="{{user.last}}"></td>
    <tr> 
        <td><label for="address">Address</label></td>
        <td><input type="text" name="address" value="{{user.address}}"></td>
    </tr>
    <tr>
        <td><label for="phone">Phone</label></td>
        <td><input type="number" name="phone" value="{{user.phone}}"></td>
    </tr>
    <tr>
        <td>this is a test
        </td>
        <td><input class= "button" type="submit" value="Submit"></td>
    </tr>
</form>
</table>