<div>
    <h1>{{user.name}}</h1>
    <div>Address: {{user.address}}</div>
    <div>Phone Number: {{user.phone}}</div>
    <a href="/users/{{user._id}}/orders">Orders</a>

    <div>
        <a href="/users">Back to User List</a>
    </div>
    <div>
        <a href="/users/{{user._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/users/{{user._id}}/delete">Delete</a>
    </div>
</div>